*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body{
    color:#000000;
    background-color:rgb(240, 248, 255); 
    font-size: 18px;
    line-height: 1.5;
}

ul{
    list-style-type: none;
}

.main{
    color: rgb(70, 90, 110); /*메인 화면 글자색*/
    line-height: 1.5;
}

.navbar{
    background-color: rgb(70, 130, 180); /*헤더 배경 색*/
    color: rgb(255, 255, 255); /*헤더 왼쪽 Webdemo 글자색*/
    height: 60px;
}

.navbar .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    margin-left: 20px; /*헤더 넓이*/
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
}

.navbar a:hover{
    border-bottom: 2px rgb(0, 123, 255) solid;
    color: #ddd;
}

.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}

button {
    padding:5px 50px;
    margin: 5px;
    font-size: large;
    background-color: rgb(173, 216, 230);
    border-width: 1;
    border-radius: 5px;
}

button:hover{
    color: red;
    background-color: gray;
}